{% extends "share/base.html" %}

{% load staticfiles %}
{% block content %}
{% include "share/menu.html" %}
{% include "share/top.html" %}
<div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>

            <h3>Error Send your Money</h3>
            <p>Send account to see it in action.</p>

            <h3>회원 정보가 없습니다. 정보를 먼저 입력해주시기 바랍니다.</h3>
            <button class="btn btn-primary btn-sm btn-block" onclick="location.href='{% url 'signup' %}'"?username={{ user.username }}">회원가입

        </div>
    </div>
{% endblock %}